

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.modal__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    

    display: none;
}



.modal__content-container {
    height: fit-content;
    min-height: 500px;
    max-height: 550px;
    min-width: 446px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    padding: 30px 46px;
}



.modal__content-container form {
    margin: 0;
    width: 100%;
}

.modal__title-container {
    margin: 0;
    margin-bottom: 21px;
}

.modal-title-text {
    font-size: 25px;
    color: var(--main-text-clr);
}

.modal__form-container {
    display: flex;
    flex-direction: column;

}

/* .modal__form-container > div {
    margin: 0;
} */

.modal__form-input-container {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.modal__form-input-container a, p {
    font-family: 'Open Sans', sans-serif;
}

/* .modal__form-input-container > div {
    margin: 0;
} */



/* INPUTS */
.modal__form-input-block {
    margin: 0;
    height: 42px;
    width: auto;

    border: 0.75px solid #969696;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modal__form-input-block > input {
    min-width: 330px;
    background-color: none;
    border: none;
    border-bottom: 1px solid var(--light-text-clr);
    outline: none;
}

    /* field title */
.modal__form-title-container {
    margin: 0;
    height: 5px;
}

.modal__form-title-text {
    font-weight: normal;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 0.01em;

    color: var(--light-text-clr);
    padding: 5px;
    background-color: #FFFF;

    position: relative;
    top: -11px;
    left: 29px;
}

/* error message */


.modal__form-input-error-msg {
    margin: 0;
    
    /* margin-bottom: 2px; */
    
    font-size: 10px;
    color: var(--error-clr);
}

/* success message */
.modal__form-input-success-msg {
    margin: 0;
    margin-bottom: 3px;
    
    font-size: 12px;
    color: var(--success-clr);
}

/* SUBMIT BUTTON  */
.modal__form-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
}

.modal__form-btn-div-wrap {
    margin: 0;
    width: 92px;
    height: 40px;

    width: max-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__form-btn-div-wrap > button {
    padding: 12px 16px;
    background: none;
    border: none;
    font-size: 18px;

    line-height: 27px;
    letter-spacing: 0.016em;
    color: var(--light-text-clr);
}

.modal__form-btn-div-wrap button:hover {
    cursor: pointer;
}

/* CLOSE BUTTON */
.modal__exit-btn-container {
    margin: 0;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -420px;
    left: 360px;
}

.modal__exit-btn-container:hover {
    cursor: pointer;
}